[submodule "module/jetson-inference"]
	path = module/jetson-inference
	url = https://github.com/dusty-nv/jetson-inference.git
[submodule "module/jetson-utils"]
	path = module/jetson-utils
	url = https://github.com/dusty-nv/jetson-utils.git
[submodule "module/wfb-ng"]
	path = module/wfb-ng
	url = https://github.com/SnapDragonfly/wfb-ng.git
[submodule "module/msposd"]
	path = module/msposd
	url = https://github.com/SnapDragonfly/msposd.git
[submodule "module/ByteTrack"]
	path = module/ByteTrack
	url = https://github.com/SnapDragonfly/ByteTrack.git
[submodule "module/deepstream_python_apps"]
	path = module/deepstream_python_apps
	url = https://github.com/NVIDIA-AI-IOT/deepstream_python_apps.git
[submodule "module/DeepStream-Yolo"]
	path = module/DeepStream-Yolo
	url = https://github.com/marcoslucianops/DeepStream-Yolo.git
[submodule "module/OpenIPC-Adaptive-Link"]
	path = module/OpenIPC-Adaptive-Link
	url = https://github.com/SnapDragonfly/OpenIPC-Adaptive-Link.git
[submodule "module/ardupilot"]
	path = module/ardupilot
	url = https://github.com/SnapDragonfly/ardupilot.git
	branch = Copter-4.5-lida2003
