[submodule "module/jetson-inference"]
	path = module/jetson-inference
	url = https://github.com/dusty-nv/jetson-inference.git
[submodule "module/jetson-utils"]
	path = module/jetson-utils
	url = https://github.com/dusty-nv/jetson-utils.git
[submodule "module/wfb-ng"]
	path = module/wfb-ng
	url = https://github.com/svpcom/wfb-ng.git
[submodule "module/msposd"]
	path = module/msposd
	url = https://github.com/OpenIPC/msposd.git
[submodule "module/ByteTrack"]
	path = module/ByteTrack
	url = https://github.com/ifzhang/ByteTrack.git
